<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:remove="tag">
<th:block th:each="payload,payloadItr : ${fragment.getSequence(item.name)}">
    <strong>
        [[__${bindingPath}__.sequences[__${item.name}__]]]
    </strong>
    <div class="btn-group btn-group-sm float-right">
        <button class="btn btn-secondary" th:formaction="@{remove(fragment=${bindingPath},item=${item.name},index=${payloadItr.index})}">
            <i class="fa fa-trash"></i>
        </button>
    </div>


    <th:block th:if="${item.class.simpleName == 'TextItem'}">
        <th:block th:if="${!item.multiline}">
            <div class="form-group" style="padding-top: 10px;">
                <input class="form-control" th:field="*{__${bindingPath}__.sequences[__${item.name}__][__${payloadItr.index}__].text}">
            </div>
        </th:block>
        <th:block th:if="${item.multiline}">
            <div class="form-group" style="padding-top: 10px;">
                <textarea class="form-control" th:field="*{__${bindingPath}__.sequences[__${item.name}__][__${payloadItr.index}__].text}"></textarea>
            </div>
        </th:block>
    </th:block>



</th:block>

<button class="btn btn-secondary"
        th:formaction="@{append(fragment=${bindingPath},item=${item.name})}">
    Append [[${item.name}]]
</button>
</html>