<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:remove="tag">
<th:block th:with="sequence = ${fragment.getSequence(item.name)}">
    <th:block th:each="payload,payloadItr : ${sequence}">
        <strong>
            [[__${bindingPath}__.sequences[__${item.name}__][__${payloadItr.index}__]]]
        </strong>
        <div class="btn-group btn-group-sm float-right">
            <button class="btn btn-secondary"
                    th:formaction="@{move-up(fragment=${bindingPath},item=${item.name},index=${payloadItr.index})}"
                    th:classappend="${payloadItr.index == 0} ? disabled : _"
                    th:disabled="${payloadItr.index == 0} ? disabled : _">
                <i class="fa fa-arrow-up"></i>
            </button>
            <button class="btn btn-secondary"
                    th:formaction="@{move-down(fragment=${bindingPath},item=${item.name},index=${payloadItr.index})}"
                    th:classappend="${payloadItr.index == sequence.size() - 1} ? disabled : _"
                    th:disabled="${payloadItr.index == sequence.size() - 1} ? disabled : _">
                <i class="fa fa-arrow-down"></i>
            </button>
            <button class="btn btn-secondary" th:formaction="@{remove(fragment=${bindingPath},item=${item.name},index=${payloadItr.index})}">
                <i class="fa fa-trash"></i>
            </button>
        </div>

        <th:block th:replace="admin/page/text" />
    </th:block>
</th:block>

<button class="btn btn-secondary"
        th:formaction="@{append(fragment=${bindingPath},item=${item.name})}">
    Append [[${item.name}]]
</button>
</html>